<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>570336114540-bg22m1vjt9r9397dk70r6lr4bi6jsr2g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.570336114540-bg22m1vjt9r9397dk70r6lr4bi6jsr2g</string>
	<key>API_KEY</key>
	<string>AIzaSyC9D6X8SNkwvu5nmhu_iAPgMT5YEG_OgdU</string>
	<key>GCM_SENDER_ID</key>
	<string>570336114540</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.moviesLand</string>
	<key>PROJECT_ID</key>
	<string>movies-land-cd348</string>
	<key>STORAGE_BUCKET</key>
	<string>movies-land-cd348.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:570336114540:ios:76e3686567ba185d416549</string>
</dict>
</plist>